/* stylelint-disable prettier/prettier */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: hsl(230deg 45% 20%);
  color: #fff;
  font-family: 'Barlow Semi Condensed', sans-serif;
  min-height: 45vh;
}

.container {
  margin: 0 auto;
  width: 600px;
  max-width: 100%;
}

header {
  border: 3px solid hsl(217deg 16% 45%);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 50px 0;
}

h1 {
  font-size: 3rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  line-height: 0.8;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
}

h4 {
  color: hsl(229deg 64% 46%);
  margin-top: 0;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.score-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 6px;
  text-align: center;
}

.score-container p {
  color: hsl(229deg 25% 31%);
  font-size: 17px;
  font-weight: bolder;
  margin: 0;
}

.header-score {
  color: hsl(230deg 25% 30%);
}

.play-game {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 400px;
  margin: 0 auto;
  position: relative;
}

.play-game::before {
  background-image: url('./images/bg-triangle.svg');
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  position: absolute;
  top: 20%;
  left: 15%;
  height: 70%;
  width: 70%;
  z-index: -1;
}

.btn-circle {
  border: none;
  border-radius: 50%;
  box-shadow: inset 0 -5px rgba(0 0 0 15%);
  margin: 0 25px;
  height: 120px;
  width: 120px;
}

.btn-circle:focus {
  outline: none;
}

.btn-circle:active {
  transform: scale(0.9);
}

.btn-circle:hover {
  cursor: pointer;
  transition-duration: 1s;
  transform: scale(1.2);
}

.btn-circle .wrapper {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: inset 0 5px rgba(0 0 0 15%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 90px;
}

.btn-paper {
  background: linear-gradient(to bottom, hsl(230deg 89% 62%), hsl(230deg 89% 65%));
}

.btn-scissors {
  background: linear-gradient(to bottom, hsl(39deg 89% 49%), hsl(40deg 84% 53%));
}

.btn-rock {
  background: linear-gradient(to bottom, hsl(349deg 71% 52%), hsl(349deg 70% 56%));
}

.btn-rules {
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  font-family: inherit;
  padding: 10px 25px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn {
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: #fff;
  color: hsl(229deg 25% 31%);
  font-size: 16px;
  font-family: inherit;
  padding: 10px 25px;
  text-transform: uppercase;
}

.game-result {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.game-result .btn-circle {
  margin: 30px;
  transform: scale(1.4);
}

.big-text {
  font-size: 18px;
  margin: 0 0 20px;
  line-height: 0.8;
  text-transform: uppercase;
}

.text-container {
  padding: 12px;
}

.d-flex {
  display: none;
}

.d-none {
  display: flex;
}

@media only screen and (width >= 300px) {
  .btn-circle {
    border: none;
    height: 90px;
    width: 90px;
  }

  .btn-circle .wrapper {
    height: 85px;
    width: 85px;
  }

  .game-result {
    width: 70%;
    max-width: 70%;
  }
}

@media only screen and (width >= 500px) {
  .btn-circle {
    border: none;
    height: 110px;
    width: 110px;
  }

  .btn-circle .wrapper {
    height: 90px;
    width: 90px;
  }

  .game-result {
    width: 95%;
    max-width: 95%;
  }

  .game-result .btn-circle {
    margin: 30px;
    transform: scale(1.4);
  }

  .text-container {
    padding: 12px;
  }
}

@media only screen and (width >= 768px) {
  .btn-circle {
    border: none;
    height: 150px;
    width: 150px;
  }

  .btn-circle .wrapper {
    height: 120px;
    width: 120px;
  }

  .game-result {
    width: 75%;
    max-width: 75%;
  }

  .game-result .btn-circle {
    margin: 30px;
  }

  .text-container {
    padding: 12px;
  }
}

@media only screen and (width >= 992px) {
  .btn-circle {
    border: none;
    height: 150px;
    width: 150px;
  }

  .btn-circle .wrapper {
    height: 120px;
    width: 120px;
  }

  .game-result {
    width: 70%;
    max-width: 70%;
  }

  .game-result .btn-circle {
    margin: 30px;
  }

  .text-container {
    padding: 12px;
  }
}

@media only screen and (width >= 1200px) {
  .btn-circle {
    border: none;
    height: 150px;
    width: 150px;
  }

  .btn-circle .wrapper {
    height: 120px;
    width: 120px;
  }

  .game-result {
    width: 60%;
    max-width: 60%;
  }

  .game-result .btn-circle {
    margin: 30px;
  }

  .text-container {
    padding: 12px;
  }
}

@media only screen and (width >= 1400px) {
  .btn-circle {
    border: none;
    height: 150px;
    width: 150px;
  }

  .btn-circle .wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 120px;
  }

  .game-result {
    width: 45%;
    max-width: 45%;
  }

  .game-result .btn-circle {
    margin: 30px;
  }

  .text-container {
    padding: 12px;
  }
}
